#carousel-ucef-woo-home {

    & .container {
        padding: 0;

        @mixin atSmall {
            padding: 0 15px;
        }
        
        @mixin atLarge {
            padding: 0 10%;
        }
    }

    & .carousel-item {

        & > .content {

            @mixin atMedium {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }

        }
        
        & .image {
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            & .image__content {

                & img {
                    display: block;
                    width: auto;
                    height: 60vh;

                    @mixin atMedium {
                        width: 50vh;
                        height: auto;
                    }
                }

            }

            & .carousel-control-prev-icon,
            & .carousel-control-next-icon {
                background-color: rgba(0,0,0,0.1);
                box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
            }

        }
        
        & .carousel-caption {

            @mixin atMedium {
                left: 20px;
                right: 50%;
                bottom: 0;
            }
        }
    }
}