#carousel-ucef-woo-home {

    & .container {
        padding: 0;

        @mixin atSmall {
            padding: 0 15px;
        }
        
        @mixin atLarge {
            padding: 0 10%;
        }
    }

    & .carousel-item {

        & > .content {

            @mixin atMedium {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
            }

        }
        
        & .image {
            position: relative;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: rgba(0,0,0,0.2);
            }

            & .image__content {

                & img {
                    display: block;
                    width: auto;
                    height: 60vh;

                    @mixin atMedium {
                        width: 50vh;
                        height: auto;
                    }
                }
            }

        }
        
        & .carousel-caption {

            @mixin atMedium {
                left: 20px;
                right: auto;
                bottom: 50%;
                transform: translateY(50%);
            }

            & .para {
                text-shadow: 0 0 5px rgba(0,0,0,1);

                @mixin atMedium {
                    color: #212529;
                    text-shadow: none;
                }
                
            }
        }
    }
}