#uw-mc-wrap {
    overflow: hidden;
    overflow-y: auto;

    &,
    & .uw-mc-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    & .uw-mc-overlay {
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    & .uw-mc-container {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
    }

    & .uw-mc-content-wrap {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        width: 300px;
        height: 100%;
        z-index: 1045;
        opacity: 1;
        transform: translateY(-30px);
        transition: transform .5s, opacity .3s;
    }

    &.is-visible .uw-mc-content-wrap {
        opacity: 1;
        transform: translateY(0);
    }

    & .uw-mc-content-inner {
        position: relative;
        background-color: #fff;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        z-index: 1000;
        box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.15);
        border: 3px solid red;

        & .uw-mc-close {
            position: absolute;
            top: 0;
            right: 0;
            color: #333;
            opacity: .5;
            font-weight: 300;
            font-size: 40px;
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            text-decoration: none;
            z-index: 1001;

            &:hover {
                opacity: 1;
            }
        }
    }
}


#mini-cartff {

    & .modal-dialog {
        margin: 0;
        margin-left: auto;
        margin-right: -15px;
        min-height: 100%;
        max-width: 300px;

        @mixin atSmall {
            max-width: 400px;
        }

        & .modal-content {
            max-height: 100%;
        }

        & .modal-body {

            & .woocommerce-mini-cart-item {
                position: relative;
                border-bottom: 1px solid rgba(0,0,0,0.2);
                margin: 5px 0;

                & .remove {
                    margin-bottom: 5px;
                }

                & img {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: auto;
                }
            }
        }

        & .modal-footer {
            display: block;

            & .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                padding-top: 10px;

                & > a {
                    flex: 1;
                    color: #fff;
                    background-color: #28a745;
                    border-color: #28a745;
                    text-align: center;
                    margin: 0 5px;

                    &:hover {
                        background-color: #218838;
                        border-color: #1e7e34;
                    }
                }
            }
        }

    }
}